<div class="card">
    <img [src]="card().imageSource" [alt]="card().title">
    <div class="card-content">
        <h3 class="card-title">{{card().title}}</h3>
        <p class="card-description">{{card().description}}</p>
        
        @if (card().price)
        {
            <span class="card-price">{{card().price}}</span>
        }

        @if (card().discount) {
            <span class="card-discount">{{card().discount}}</span>
        }

        @if (card().link) {
            <a [routerLink]="card().link">Ver más</a>
        }
    </div>
</div>